{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="width: 100%!important;height: 100% !important;">
  	    <div class="card bg-light shadow" style="width: 30rem;min-height: 30rem;border-radius: 10px!important;">
		  <div class="card-body bg-light" style="border-radius: 10px!important;border: none!important;">
		    <form class="form-signin p-2" action="" method="POST">
        		{% csrf_token %}
		        <div class="text-center mb-4">
		             <img class="mb-4" src="{% static 'images/brand.png' %}" alt="" width="60" height="72">
					<h1 class="h3 mb-3 font-weight-normal text-muted">Expert | Login</h1> 
					<br>

		            {% if errors %}
		                <div class="alert alert-danger alert-dismissible fade show" role="alert">
		                  <small class="text-small">{{errors}}</small>
		                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                  </button>
		                </div>
		            {% endif %}
		        </div>

			  	<div class="form-label-group">
			    	<input type="text" name="username"  id="inputEmail" class="form-control" placeholder="Username" required autofocus>
			  	</div>
			  	<br>
  				<div class="form-label-group">
    				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  				</div>
  				<br>
  				<br>
			  	<div class="d-flex justify-content-around text-center">
			    	<button class="btn btn-success" type="submit">Sign In</button>
			    	<a href="/expert/signup" class="col-6 btn-lg btn btn-warning">
			        	Sign Up
			    	</a>
				  </div>
				  <br>
			</form>
		  </div>
		</div>

  <footer class="mastfoot">
    <div class="inner">
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
		<p>A product of <a href="https://www.kipya-africa.com/">Kipya Africa</a>.</p>
    </div>
  </footer>
</div>
{% endblock %}