{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<div class="text-center" style="width: 100%!important">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">

  </header>
  <div class="container d-flex align-items-center justify-content-center">
  	    <div class="card" style="width: 25rem;">
		  <div class="card-body">
		    <form class="form-signin p-2 card" action="" method="POST">
        		{% csrf_token %}
		        <div class="text-center mb-4">
		             <img class="mb-4" src="{% static 'images/icon.png' %}" alt="" width="60" height="72">
		            <h1 class="h3 mb-3 font-weight-normal">Tengenetsar | Signup</h1> 
		            {% if form.errors %}
		                <div class="alert alert-danger alert-dismissible fade show" role="alert">
		                  {% for k,v in form.errors.items %}
		                    <small class="text-small">{{v.as_text}}</small>
		                  {% endfor %}
		                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                  </button>
		                </div>
		            {% endif %}
		        </div>

		        <input name="first_name" placeholder="First Name" class="mt-2 form-control"></input>
		        <input name="last_name" placeholder="Last Name" class="mt-2 form-control"></input>
		        <input name="email" placeholder="Email" class="mt-2 form-control"></input>

		        <input name="username" placeholder="Username" class="mt-2 form-control"></input>
		        <input type="password" name="password1" placeholder="Password" class="mt-2 form-control"></input>
		        <input type="password" name="password2" placeholder="Confirm Password" class="mt-2 form-control"></input>			
			  	<div class="mt-3 d-flex align-items-center justify-content-around">
			    	<button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
			    	<a href="/f_login" class="btn btn-lg btn-outline-warning">
			        	Login
			    	</a>
			  	</div>
			</form>
		  </div>
		</div>
  </div>

  <footer class="mastfoot mt-auto">
    <div class="inner">
  	  <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
		<p>A product of <a href="https://www.kipya-africa.com/">Kipya Africa Limited</a>.</p>
	  
	</div>
  </footer>
</div>
</div>
{% endblock %}