{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/fundi.css' %}">
<div id="row-holder" style="display: none">
	<div class="row main_container" id="call_container" >
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 shadow videos_holder">
			  <video autoplay playsinline id="other_video"></video>
			  <input type="hidden" id="expert_id" value="{{expert.id}}">
			  <div class="live-controls" >
				<button id="mic_off_btn" class="material-icons btn btn-outline-light control-buttons">
					mic
				</button>
				<button id="videocam_off_btn" class="material-icons btn btn-outline-light control-buttons">
					videocam
				</button>
				<button id="hangout_btn" class="material-icons btn btn-outline-light control-buttons">
					call
				</button>
				<button id="flip_camera_btn" class="material-icons btn btn-outline-light control-buttons">
					flip_camera_android
				</button>
				<video autoplay playsinline id="my_video"></video>
			  </div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 chats">
			<div id="chat_logs">
				
			</div>
			<div class="chatbox">
				<input class="form-control" id="my_chat_text_area" placeholder="Enter message..." />
				<button class="btn btn-primary material-icons" id="send_chat_btn">
					send
				</button>
			</div>
		</div>
	</div>
</div>


<div id="standby_container" style="background-color: #00b050;display: none;">
	<div id="standby_mode">
		<span class="blinking_live_dot material-icons text-center text-white">radio_button_checked</span>
		<h3 class="text-white m-5" >You Are Online Now...</h3>
	</div>
	<div id="incoming_call_mode" style="display: none;">
		<div class="blinking_call_icon material-icons m-5">call</div>
		<h5 class="text-white m-5" >Incoming Call... <strong></strong></h5>
		<button class="btn text-success bg-white shadow m-5" id="accept_call_btn">Accept</button>
	</div>
</div>
<div id="fundi_home">
	<button id="get_ready_btn" class="d-flex align-items-center justify-content-center btn text-white btn-success">
		Get Online <span class="material-icons">arrow_right_alt</span>
	</button>
</div>
<script src="{% static 'js/peerjs.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="{% static 'js/expert_calling_page.js' %}" type="text/javascript"></script>
{% endblock %}