*{
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

body{
	height: 100vh!important;
	width: 100% !important;
	margin: 0;
	padding: 0;
}
#row-holder{
	width: 100%;
	height: 100%;
	margin: 0;
}
.main_container{
	height: 100%!important;
	width: 100vw !important;
	background-color: #00b050;
	justify-content: center !important;
	align-items: center !important;
	margin: 0;
}

.main_container>div{
	width: 100%!important;
	padding: 0;
}

.videos_holder{
	height: 60%!important;
	width: 100vw !important;
	background: #101010;
	margin: 0;
}

#other_video{
	width: 100% !important;
	height: 100%;
	background: #101010;
	position: absolute;
	z-index: 1;
}


.live-controls{
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.top-controls{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 30%;
}

.bottom-controls{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	bottom: 0;
	width: 95%;
	height: 30%;
}

#my_video{
	width: 80px;
	height: 80px;
	background: #222222;
	margin: 5px;
}


.control-buttons{
	color: white;
	font-size: 1.3rem;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.chats{
	display: flex;
	flex-direction: column;
	height: 40%!important;
	width: 100% !important;
	justify-content: space-between;
	background: #f5f4ed;
}

.chatbox{
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 5px!important;
    width: 100%;
	background: #f5f4ed;
	align-items: center;
	height: 60px !important;
}
#my_chat_text_area{
	width: 80%;
	padding: 25px!important;
	border: 0.3px solid #dbdbdb !important;
	background: white;
    border-radius: 30px;
    text-align: left!important;
	color: #333;
	border: 0.5px solid #bbb;
	height: 50px !important;
	

}
#chat_logs{
	overflow-y: scroll;
	height: 80%;
	padding-bottom: 10px;
}
#send_chat_btn{
    color: white;
    font-size: 25px;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50% !important;
    background: #15ad43;
    border: none;
    width: 50px;
    height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#standby_container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #ddd;
	transition: all 1.5s ease-in;
}
#incoming_call_mode{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#standby_mode{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.blinking_live_dot {
	font-size: 10rem;
	color: #00b050;
	animation: blinker 1s linear infinite;
}

.blinking_call_icon {
	font-size: 5rem;
	color: #fff;
	animation: blinker 1s linear infinite;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 10px;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.my_chat,.other_chat{
	padding: 10px;
	width: 60%;
	margin: 5px auto;
}

.my_chat>div>a{
	color: white;
}
.other_chat>div>a{
	color: #15ad43;
}

.my_chat{
	background:linear-gradient(to top right,#15ad43,#00b050);
	float: right;
	color: #fff;
	font-size: 0.8rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-right: 5px;
}
.other_chat{
	background: #fff;
	float: left;
	font-size: 0.8rem;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 5px;
	border: 0.5px solid #bbb;
}
#fundi_home{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #ddd;
	transition: all 1s ease-in;
}