<<<<<<< HEAD
body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 20px;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
=======
body{background-color:#eee!important}.appbar{background:#fefefe!important;padding:0 30px!important}.appbar,.toolbar{display:flex!important;align-items:center!important}.toolbar{flex-direction:column!important;justify-content:space-around;min-height:15vh!important}.toolbarTop{display:flex!important;flex-direction:row!important;justify-content:space-between!important;width:80vw!important;align-items:center!important}.searchbar{display:flex!important;min-width:300px!important}.leftDrawerContent{min-width:400px!important}.rightDrawerContent{min-width:450px!important}.material-icons{font-size:30px!important;cursor:pointer}.brand,.brandImage{width:100px!important}.rightButtons{width:70px!important}@media screen and (min-width:800px){.menuButton{display:none!important}.brand,.brandImage{width:200px!important}.rightButtons{width:90px!important}}.categoriesList{padding:20px!important;min-height:300px}.bottomNav{top:auto!important;bottom:0!important;position:fixed;background:linear-gradient(to bottom right,teal,#00b050);right:20%;left:20%;color:#fff;text-align:center;min-width:200px}@media screen and (min-width:480px){.bottomNav{right:40%;left:40%}}.mainCallContainer,body,html{background-color:#fff;width:100%;height:100%;overflow-y:auto}.awaitingCallContainer,.callContainer{display:flex;flex-direction:column;width:100vw;height:100vh}.awaitingCallContainer{position:absolute;z-index:4;background-color:#00b050}.videoPanel{background-color:#000;flex-grow:4;max-height:44vh;min-height:44vh;width:100%}.mainVideo{z-index:2}.mainVideo,.videoControls{position:absolute;max-height:44vh;min-height:44vh;width:100vw}.videoControls{z-index:3;flex-direction:column;padding:10px}.topControls,.videoControls{display:flex;justify-content:space-between}.topControls{width:100%;flex-direction:row}.bottomControls{display:flex;flex-direction:row;justify-content:space-evenly;align-items:center}#remoteVideo{width:100%;height:100%;max-height:44vh;min-height:44vh}#localVideo{width:50px;height:50px}.control-buttons{color:#fff;font-size:1rem!important;border-radius:50%!important;width:40px!important;height:40px!important;display:flex!important;align-items:center!important;justify-content:center!important;background:transparent}.chatPanel{background-color:#fff;flex-grow:5;max-height:56vh;min-height:56vh;width:100%;display:flex;flex-direction:column;justify-content:space-between;align-items:stretch}.chatProfile{background-color:#fff;flex-grow:0;display:none;border-bottom:.1px solid #ddd}.chatLogs{background-color:#fffbe7;overflow-y:scroll;flex-grow:8;max-height:80%}.chatBox{border-top:.1px solid #e7e7e7;display:flex;flex-direction:row;width:100%;margin:auto;padding:0 5%;justify-content:space-evenly;align-items:center;flex-grow:1}#chat_text_area{width:80%;font-size:16px;height:50px!important;border-radius:40px;border:1px solid #eee;padding:10px 20px;color:#666;background-color:#fff}#chat_text_area:focus{outline:none!important;inset:inherit}#send_chat_btn{width:50px!important;height:50px!important;border:none;background:#00ca5b;border-radius:50%;color:#fff;display:flex;align-items:center;justify-content:center;font-size:20px!important}#send_chat_btn:focus{outline:none}#send_chat_btn:hover{background-color:#01ac4e}.my_chat,.other_chat{padding:10px;width:60%;margin:5px auto}.my_chat{background:linear-gradient(to top right,#18fd9e,#00b050);float:right;color:#fff;font-size:.8rem;border-top-left-radius:10px;border-top-right-radius:0;border-bottom-right-radius:10px;border-bottom-left-radius:10px;margin-right:5px}.other_chat{background:#fff;float:left;font-size:.8rem;border-top-left-radius:0;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;margin-left:5px;border:.5px solid #e4e4e4}@media screen and (min-width:800px){.callContainer{position:absolute;background:#fff;z-index:2;height:90vh;width:75vw;margin:5vh 12.5vw;flex-direction:row;border-radius:20px;box-shadow:0 4px 80px 5px rgba(252,202,10,.2),0 6px 10px 0 rgba(252,204,10,.17);border:1px dotted #00ad2b}.videoPanel{flex-grow:4}.mainVideo,.videoPanel{max-width:60%;min-width:60%;min-height:90vh;max-height:90vh}.mainVideo{position:absolute;z-index:2}#remoteVideo{width:99.9%;height:99.9%}#remoteVideo,.videoControls{min-height:90vh;max-height:90vh}.videoControls{max-width:60%;min-width:60%;padding:50px}#localVideo{width:100px;height:100px}.chatPanel{flex-grow:3;max-width:40%;min-width:40%;min-height:90vh;max-height:90vh;border-left:3px solid #00d836}.chatProfile{background-color:#fff;flex-grow:2;display:flex;border-bottom:.1px solid #ddd}.awaitingCallContainer{position:absolute;z-index:3;display:flex;flex-direction:column;width:75vw;height:90vh;border-radius:20px;margin:5vh 12.5vw;background-color:#00b050}}.loginContainer{padding:50px}.loginForm{min-width:500px;min-height:500px;display:flex;flex-direction:column}.signUpContainer{padding:50px}.signUpForm{display:flex;flex-direction:column}@media screen and (max-width:800px){.signUpContainer{padding:50px}.signUpForm{display:flex;flex-direction:column}}.authContainer{background-color:hsla(0,0%,100%,.6)!important;overflow-x:hidden!important}.categoriesList{display:none!important}@media screen and (min-width:800px){.categoriesList{display:block!important}}
/*# sourceMappingURL=main.69d0cf95.chunk.css.map */
>>>>>>> v3
