<style>
  table, th, td {
  border: 1px solid black;
}
</style>
<div>

</div>
<img width="100%" height="200px" src="https://tengenetsar.kipya-africa.com/static/images/top_image.png" alt="">

<div style="display: flex;flex-direction: row;justify-content: space-between;">
<div>
Supplier Legal Name: Kipya (Africa) Limited  <br>
Senteu plaza, Galana/Lenana Road, Kilimani, Nairobi <br>
P.O. BOX 7407-00100, Nairobi, Kenya <br>
Tel: +254-705-537101 <br>
Email: nimo@africa-drilling-solutions.com <br>
PIN: P051326321U <br>
<br>
</div>
<div>
    <strong>Number:</strong>  {{receipt_no}}
    <br>
    Date: {{date}}
</div>
<h2 style="text-align: center;"><i>RECEIPT</i></h2>

<div>
    <p style="text-align: center;">
      Receipt Number:
      <strong>
       {{receipt_no}}
      </strong>
    </p>
    <br>
    <p style="text-align: center;">
      Received from:
      <br>
      <strong>
        {{payment.order.checkout_by.first_name}}
        {{payment.order.checkout_by.last_name}}
      </strong>
      
    </p>

    <hr>
    <table>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Rate Per Item</th>
        <th>Amount (KES)</th>
      </tr>
    
    {% for product products %}
      <tr>
        <td>{{product.name}}</td>
        <td>1</td>
        <td>{{product.price}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor }
      <tr>
        <td>Order Total </td>
        <td>{{payment.order.total_price}}</td>
      </tr>
    </table>
    <hr>
    <br>
    <p style="text-align: center;">
      Sum of:
      <br>
      <strong>
        KES. {{payment.mpesa_amount}}
      </strong>
      
    </p>
    <br>
    <p style="text-align: center;">
      Payment details:
      <br>
      Method:<strong>
        Lipa na Mpesa Paybill 749320
      </strong>
      <br>
      Transaction Code:<strong>
        {{payment.mpesa_code}}
      </strong><br>
      Account No.:<strong>
        {{payment.mpesa_name}}
      </strong><br>
      Receiving Organization:<strong>
        KIPYA AFRICA LTD.
      </strong><br>
      Received On:<strong>
        {{date}}
      </strong>
      <br>                  
    </p>

    <p style="text-align: center;">
      Being payment for:
      <strong>
        TENGENETSAR ORDER PAYMENT
      </strong>
      <br>
    </p>
  </div>
  <br>
  <br>
  <hr color="wheat">
  <div style="text-align: center;">
    Contact us <br>
    Email: info@kipya-africa.com <br>
    Phone: +254728615438 <br>
    Website: tengenetsar.kipya-africa.com <br>
  </div>

</div>