<style>
  table, th, td {
  border: 1px solid #bbbbbb;
  padding: 5px;
}
</style>
<div style="text-align: center;">
  <img width="100%" height="200px" src="https://tengenetsar.kipya-africa.com/static/images/top_image.png" alt="">
</div>
<br>
<br>
<div style="display: flex;flex-direction: column;justify-content: space-between;">
  <div>
      <strong>Supplier Legal Name:</strong> Kipya (Africa) Limited  <br>
      <strong>P.O. BOX </strong> 7407-00100, Nairobi, Kenya <br>
      <strong>Tel:</strong> +254-728-537-101 <br>
      <strong>Email:</strong> info@kipya-africa.com <br>
      <strong>PIN:</strong> P051326321U <br>
  </div>
  <div>
      <strong>Invoice Number:</strong>  {{receipt_no}}
      <br>
      <strong>Date:</strong> {{date}}
  </div>
</div>
<hr>
<h2 style="text-align: center;"><i>RECEIPT</i></h2>

<div>
    <br>
    <p style="text-align: center;">
      Received from:
      <br>
      <strong>
        {{payment.order.checkout_by.first_name}}
        {{payment.order.checkout_by.last_name}}
      </strong>
    </p>
    <table>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Rate Per Item</th>
        <th>Amount (KES)</th>
      </tr>
    
    {% for product in products %}
      <tr>
        <td>{{product.name}}</td>
        <td>1</td>
        <td>{{product.price}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
      <tr style="border: 0px solid #bbbbbb;">
        <td style="border: 0px solid #bbbbbb;"></td>
        <td style="border: 0px solid #bbbbbb;">Order Subtotal(KES) </td>
        <td>{{subtotal}}</td>
      </tr>
      <tr style="border: 0px solid #bbbbbb;">
        <td style="border: 0px solid #bbbbbb;"></td>
        <td style="border: 0px solid #bbbbbb;">VAT @ 14% (KES) </td>
        <td>{{vat}}</td>
      </tr>
      <tr style="border: 0px solid #bbbbbb;">
        <td style="border: 0px solid #bbbbbb;"></td>
        <td style="border: 0px solid #bbbbbb;">TOTAL (KES)</td>
        <td>{{payment.order.total_price}}</td>
      </tr>
    </table>
    <br>
    <p style="text-align: center;">
      Sum of:
      <br>
      <strong>
        KES. {{payment.mpesa_amount}}
      </strong>
      
    </p>
    <br>
    <p style="text-align: center;">
      Payment details:
      <br>
      Method:<strong>
        Lipa na Mpesa Paybill 749320
      </strong>
      <br>
      Transaction Code:<strong>
        {{payment.mpesa_code}}
      </strong><br>
      Account No.:<strong>
        {{payment.mpesa_name}}
      </strong><br>
      Receiving Organization:<strong>
        KIPYA AFRICA LTD.
      </strong><br>
      Received On:<strong>
        {{date}}
      </strong>
      <br>                  
    </p>

    <p style="text-align: center;">
      Being payment for:
      <strong>
        TENGENETSAR ORDER PAYMENT
      </strong>
      <br>
    </p>
  </div>
  <br>
  <br>
  <hr color="wheat">
  <div style="text-align: center;">
    Contact us <br>
    Email: info@kipya-africa.com <br>
    Phone: +254728615438 <br>
    Website: tengenetsar.kipya-africa.com <br>
  </div>

</div>