.authContainer{
    /*background-color: rgba(0, 255, 255, .6) !important;*/
}

.inputField{
	width: 300px !important;
	/*height: 40px !important;*/
	/*padding: 5px !important;*/
	/*font-size: 12px !important;*/
	/*margin-top: 20px !important;*/
}

@media screen and (min-width: 800px){
	.inputField{
		width: 400px !important;
		/*height: 30px !important;*/
		/*padding: 5px !important;*/
		font-size: 12px !important;
	}
}