{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="jumbotron text-center" style="padding: 0 !important; margin: 0 !important; background-color: rgb(6, 151, 1);">
    <div class="container">
      <h1 class="text-center text-white">Tengenetsar Customer Support</h1>
    </div>
</section>
<section>
    <h2>24/7 Call Line</h2>

    <a class="btn btn-success btn-lg">+254-728-615-438</a>

    <h2>Email</h2>
    <a href="mailto:info@kipya-africa.com" class=" btn btn-primary">info@kipya-africa.com</a>
</section>





{% endblock %}