{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="jumbotron text-center bg-success" style="padding: 10vh 10vw !important; margin: 0 !important;  border-radius: 0 !important;">
    <div class="container">
      <h1 class="text-center text-white">Tengenetsar Terms & Conditions</h1>
    </div>
</section>
<div class="d-flex flex-column text-center mt-3 align-items-center justify-content-center container">
    <section>
        <h2>Your Data & Privacy</h2>

        <p class="text-muted">
            At Tengenetsar, we take the most rigorous measures to protect your data and privacy when using our products and services.
            By Using Our Products and Services, you are agreeing to allow access to Cookies and Other Tokens.
            During your use of the products, you may be required to use your device microphone and camera.
            Tengenetsar makes the commitment that WE DO NOT record or store your video, and audio sessions. 
            However, chats are stored in order to help in improving our products and services.
            Location and contact data that is provided during our checkout will not be disclosed to any third party.
        </p>

        <h2>RETURN & REFUND POLICY</h2>

        <p class="text-muted">
            Thank you for shopping at Tengenetsar. If you are not entirely satisfied with your purchase, we are
            here to help.
        </p>


    <h3>RETURNS</h3>
    <p class="text-muted">
        To be eligible for a return, your item must be unused and in the same condition that you received
        it. The return should be within seven (7) calendar days of your purchase.
        Your item must be in the original packaging.
        Your item needs to have the receipt or proof of purchase.
    </p>
    <h3 >REFUNDS</h3>
    <p class="text-muted">
        After we receive your item, our team of professionals will inspect it and notify you that we have
        received your returned item. We will immediately notify you on the status of your refund after
        inspecting the item.
        If your return is approved, we will initiate a 90% refund to the original payment method you used
        during the purchase. You will receive the credit within 30 days after the return approval.
        If the product is damaged in any way, or you have initiated the return after seven (7) calendar days
        have passed, you will not be eligible for a refund.
        If we have an item that can suitably replace the returned item, we will upon your approval replace
        the returned item. Depending on the new item’s price, we will refund the difference in price or you
        top up
    </p>
    <h3>CONTACT US</h3>
    <p  class="text-muted">
        If you have any questions on how to return your item to us, feel free to contact our customer
        support team through +254-728-615-438
    </p>

    </section>
</div>

{% endblock %}