{% extends '../base.html' %}
{% load static %}

{% block content %}

<style>
                .app-fab--absolute {
                  position: fixed;
                  bottom: 2rem;
                  right: 2rem;
                  text-decoration: none;
                }
                .app-fab--absolute:hover{
                    text-decoration-line: none;
                }
                body{
                    background-color: #f7f7f7 !important;
                }
                
                @media(min-width: 1024px) {
                   .app-fab--absolute {
                    bottom: 3rem;
                    right: 3rem;
                  }
                }
</style>
<aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page" tabindex="0">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
          <span class="mdc-list-item__text">Inbox</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
          <span class="mdc-list-item__text">Outgoing</span>
        </a>
        <a class="mdc-list-item" href="/caller/logout">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
          <span class="mdc-list-item__text">LOG OUT</span>
        </a>
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-scrim"></div>
  <div class="mdc-drawer-app-content bg-light" style="display: flex !important; flex-direction: column !important;">
    <header class="mdc-top-app-bar bg-success shadow">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" id="open__nav__button" aria-label="Open navigation menu">menu</button>
                <span class="mdc-top-app-bar__title">CALLS</span>
            </section>
            <!-- <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite</button>
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
            </section> -->
        </div>
    </header>
    <main class="main-content" id="main-content">
        <div class="mdc-top-app-bar--fixed-adjust" style="position: relative;">
            {% if message %}
		                <div class="alert alert-warning alert-dismissible fade show" role="alert">
		                  <small class="text-small">{{message}}</small>
		                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                  </button>
                    </div>
                    <script>
                      setTimeout(() => {
                        window.location="/caller"
                      }, 3000);
                    </script>
		    {% endif %}
            <ul id="listTWO_LINE" class="mdc-list mdc-list--two-line inline-demo-list mdc-list--avatar-list">
              {% for call in calls %}
              <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0">

                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">
                    {% if call.expert.profile %}
                      <img src="https://i2.wp.com/www.usmagazine.com/wp-content/uploads/2018/05/joseph-morgan-on-the-originals-2.jpg?crop=0px%2C0px%2C1200px%2C679px&resize=1600%2C900&ssl=1" width="60" height="60" style="border-radius: 50%;" alt="{{call.expert.user.first_name}}">
                    {% else %}
                      <div class="profile_letter display-5 font-weight-bold" style="min-width: 60px !important;height: 60px;background-color: #cccccc;border-radius: 50%;display: flex;align-items: center;justify-content: center;color: #15ad43;">
                        {{ call.expert.user.first_name|make_list|first }}
                      </div>
                    {% endif %}
                </span>
                
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">
                        {{call.expert.user.first_name}} {{call.expert.user.last_name}} 
                    </span>
                    <span class="mdc-list-item__secondary-text text-small">
                        Thanks for the service
                        {{call.chat.all()}}
                    </span>
                </span>
                <span aria-hidden="true" style="float: right !important;" class="mdc-list-item__meta text-success">{{call.created|date:"F,j"}}</span>
              </li>
              <hr>
              {% endfor %}
              
              </ul>
               
        <a href="/caller/call" class="mdc-fab app-fab--absolute mdc-fab--extended text-white bg-success" aria-label="Favorite">
            <span class="mdc-fab__icon material-icons">call</span>
            New Call
        </a>
        </div>

      </main>
    
</div>
    
    <script>
        const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        document.getElementById("open__nav__button").onclick=(e)=>{
            drawer.open = !drawer.open;
        }
        const list = new mdc.list.MDCList(document.querySelector('.mdc-list')); 
        const listItemRipples = list.listElements.map((listItemEl) => new mdc.ripple.MDCRipple(listItemEl));   
    </script> 
 
{% endblock content %}
