{% load static %}
<!doctype html>
<html lang="en">
  <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <title>Payment Options | Kipya Africa Limited</title>
      <link href="{% static 'images/kipya_iconv2.png' %}" rel="icon">
      <meta content="#fcca0a" name="theme-color" >
  
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
      <link href="{% static 'css/payment_options.css' %}" rel="stylesheet">

            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157832312-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157832312-1');
</script>
<body>
    <div class="container text-center">
    <div class="options-holder">
        <img src="{% static 'images/kipya_logov1.png' %}" width="200px" alt="">
        <h1 class="pt-3">Choose Your Preferred Payment Option</h1>
        <div class="d-flex flex-row justify-content-center">
            <a href="mpesa/?order_id={{order_id}}&next={{next}}&purpose={{purpose}}" class="m-2 shadow-sm payment_option_card">
                <img src="{% static 'images/mpesa_logo.png' %}" height="100px" width="140px" alt="" >
            </a>
            <div style="filter: grayscale(100%);" href="credit_and_debit_card/?order_id={{order_id}}&next={{next}}"  data-toggle="tooltip" data-placement="top" title="Card Payments not yet supported" class="m-2 shadow-sm payment_option_card">
                <img src="{% static 'images/credit_and_debit_card_logo.png' %}" height="100px" width="120px" alt="" >
            </div>
            <div style="filter: grayscale(100%);" href="paypal/?order_id={{order_id}}&next={{next}}" data-toggle="tooltip" data-placement="top" title="Paypal not yet supported!" class="m-2 shadow-sm payment_option_card">
                <img src="{% static 'images/paypal_logo.png' %}" class="p-2" height="100px" width="140px" alt="" >
            </div>
        </div>
        
        
    </div>
</div>
</body>
</html>